Repository japandotorg/LemonCord, pull requests merged in 2023-01, with the labels that each got.

#2 Remove dangerous User-Agent
  .gitignore
  src/main.rs
Labels: Status: Accepted, Release Blocker, High Priority, Good First Pull Request, QA: Changes Requested

#6 Fix compatability error, Remove trailing white spaces.
  src/main.rs
Labels: Status: Accepted, High Priority

#4 README Basic | Subject to change.
  README.md
  assets/docs/contribute_button.png
  assets/docs/fork_button.png
Labels: Help Wanted, Status: Accepted

#10 Refactor
  .github/workflows/fmt.yml
  CONTRIBUTING.md
  Cargo.toml
  README.md
  assets/docs/banner.png
  assets/docs/fork.png
  assets/docs/fork_button.png
  src/main.rs
Labels: Type: Enhancement, Status: Accepted, Release Blocker, High Priority, QA: Bypassed, Thanks For The Pull Request!
